$m-gutter: 1rem;


@import 'reset';
@import "ember-bootstrap/bootstrap";
@import "home";
@import 'contact';


.section {
  padding: $m-gutter * 2;
}

.container {
  max-width: 80rem;
}

.negative-margin {
  margin: 0 -1rem;
}

.align-center {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.btn {
  border: 0;
  background: none;

  &:hover {
    background: none;
  }
}

.logo {
  margin: $m-gutter * 2;
  width: 35rem;
}
