$m-gutter: 1rem;

$navbar-default-link-color: #000;
$navbar-default-link-hover-color: #c90404;
$navbar-default-bg: transparent;

@import 'reset';
@import 'ember-bootstrap/bootstrap';
@import 'home';
@import 'why-bds';
@import 'custom-packaging';
@import 'our-mission';
@import 'humanitarian-aid';
@import 'contact';
@import 'companies';

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #e6e3df;
}

.section {
  padding: $m-gutter;
}

.container {
  max-width: 100rem;
}

.negative-margin {
  margin: 0 -1rem;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.btn {
  border: 0;
  background: none;

  &:hover {
    background: none;
  }
}

.logo {
  display: flex;
  align-items: center;
  width: 35rem;
  margin-left: 0;
  padding: $m-gutter * 1.5;
}

.nav-text {
  margin: $m-gutter;
  margin-right: 0;
  font-size: 18px;
}

.footer {
  padding: $m-gutter;
  background: #595959;
  color: #ffffff;
  font-size: 1.5rem;
}
