$fa-fb: #3b5998;
$fa-tt: #2fa8f3;
$fa-li: #0076b4;

.align-center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.social {
  font-size: 4rem;

  &-icon {
    padding: $m-gutter;
  }

  &-fb {
    color: $fa-fb;
  }

  &-tt {
    color: $fa-tt;
  }

  &-li {
    color: $fa-li;
  }
}
