.custom-packaging {
  min-height: 100vh;
  padding: $m-gutter * 5 0;
  background: linear-gradient($c-skin, $c-skin), url('../img/custom-packaging-background.jpg');
  background-size: cover;

  &__image {
    width: 45rem;
    height: 32rem;
    margin: $m-gutter * 2 0;
  }

  &__text {
    padding: $m-gutter * 4;
    font-size: 2rem;
  }
}
