.home {
  margin: 0;
  background: linear-gradient(rgba(#e6e3df, 0.9), rgba(#e6e3df, 0.9)), url('../img/home-background.JPG');
  background-size: cover;
}

.banner {
  display: flex;
  width: 100%;
}

.home-logo {
  width: 40rem;
  padding: 2rem;
}

.home-text {
  width: 70rem;
  padding: 5rem;
  color: #c90404;
  font-family: 'Permanent Marker', cursive;
  font-size: 4.5rem;
}

.company {
  display: flex;
  align-items: center;
  text-align: center;

  &-overview {
    padding: ($m-gutter * 2) 0;
    font-family: sans-serif;
    font-size: 15px;
  }
}

.grid {
  display: flex;
  width: 100%;
  margin: 4rem 0;

  &__item {
    width: calc(100% / 3);
  }
}

.home-bottom {
  position: relative;
  margin: 1.5rem;

  &__img {
    display: block;
    position: relative;
    width: 100%;
    height: 40rem;
    object-fit: cover;
  }

  &__text {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: .5rem 1rem;
    color: white;
    font-size: 1.5rem;
    text-transform: uppercase;
  }
}
