.humanitarian-aid {
  min-height: 100vh;
  padding: $m-gutter * 5 0;
  background: linear-gradient($c-skin, $c-skin), url('../img/humanitarian-aid-background.jpg');
  background-size: cover;

  &__text {
    padding: $m-gutter * 2;

    &--actual {
      padding: $m-gutter 0;
      font-size: 1.6rem;
    }
  }
}
