@media (min-width: 300px) and (max-width: 1000px) {
  .banner {
    flex-direction: column;
  }

  .company-overview {
    font-size: 18px;
  }

  .grid {
    flex-direction: column;

    &__item {
      width: 100%;
    }
  }

  .flex {
    flex-direction: column;
  }

  .why-bds {

    &__info {
      width: 100%;
    }

    &__images {
      width: 100%;
    }
  }

  .custom-packaging {
    &__image {
      width: 100%;
    }
  }
}
