.our-mission {
  min-height: 100vh;
  padding: $m-gutter * 5 0;
  background: linear-gradient($c-skin, $c-skin), url('../img/our-mission-background.jpeg');
  background-size: cover;

  &__image {
    width: 50rem;
    margin: $m-gutter * 2;
  }

  &__text {
    padding: $m-gutter * 2;
    font-size: 1.7rem;
  }
}
