.why-bds {
  min-height: 100vh;
  padding: $m-gutter * 5 0;
  background: linear-gradient($c-skin, $c-skin), url('../img/why-bds-background.jpg');
  background-size: cover;

  &__info {
    width: 45%;
    margin: $m-gutter 0;
    font-size: 16px;

    &--text {
      padding: $m-gutter 0;
    }
  }

  &__images {
    width: 45%;
    margin: $m-gutter 0;

    &--actual {
      padding: $m-gutter 0;
    }
  }
}
