<div class="app">
  <nav class="navbar navbar-default navbar-fixed-top negative-margin">
    <div class="container">
<<<<<<< HEAD
      <div class="nav navbar-nav">
        <li class="nav-text">{{#link-to "home"}}Home{{/link-to}}</li>
        <li class="nav-text">{{#link-to "why-bds"}}Why Black Dog Surplus{{/link-to}}</li>
        <li class="nav-text">{{#link-to "custom-packaging"}}Custom Packaging{{/link-to}}</li>
        <li class="nav-text">{{#link-to "our-mission"}}Our Mission{{/link-to}}</li>
        <li class="nav-text">{{#link-to "humanitarian-aid"}}Humanitarian Aid{{/link-to}}</li>
        <li class="nav-text">{{#link-to "contact"}}Contact{{/link-to}}</li>
=======
      <div class="navbar-header">
        <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#dropdown">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="dropdown">
        <ul class="nav navbar-nav">
          <li class="nav-text">{{#link-to "home"}}Home{{/link-to}}</li>
          <li class="nav-text">{{#link-to "why-bds"}}Why Black Dog Surplus{{/link-to}}</li>
          <li class="nav-text">{{#link-to "custom-packaging"}}Custom Packaging{{/link-to}}</li>
          <li class="nav-text">{{#link-to "our-mission"}}Our Mission{{/link-to}}</li>
          <li class="nav-text">{{#link-to "humanitarian-aid"}}Humanitarian Aid{{/link-to}}</li>
          {{!-- <li class="nav-text">{{#link-to "companies"}}Affiliated Companies{{/link-to}}</li> --}}
          <li class="nav-text">{{#link-to "contact"}}Contact{{/link-to}}</li>
        </ul>
>>>>>>> 421607b2ee4fdbed2cbaeef0b919c568ceb4c5a3
      </div>
    </div>
  </nav>

  {{outlet}}

  <footer class="footer">
    <div class="section">
      <div class="container">
        <p class="flex-end">© 2017 Black Dog Surplus, Inc.</p>
      </div>
    </div>
  </footer>
</div>
