<div class="content">
  <div class="section">
    <div class="container">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            <a target=“_blank” class="align-center" href="http://opsdefense.com"><img class="logo-width" src="/img/odc-logo.png" alt=""></a>
          </div>
        </div>
        <ul class="list-group">
          <li class="list-group-item panel-default align-center">Manufactures and assembles gear and accessories needed by active field personnel</li>
          <li class="list-group-item panel-default align-center">Products range from calorie-dense, dietary specific Rations, to survival kits and first aid kits</li>
          <li class="list-group-item panel-default align-center">Designed with Clients to meet precise needs, custom products enhance the Operators’ ability to successfully complete their mission</li>
          <li class="list-group-item panel-default align-center">Offers a variety of real-world training scenarios</li>
          <li class="list-group-item panel-default align-center">Training programs vary from civilian to law enforcement to emergency management agencies</li>
          <li class="list-group-item panel-default align-center">To maximize their success and efficiency in the rapid deployment of disaster relief resources, Ops Defense maintains a 50-member security force to support contracted disaster relief missions</li>
        </ul>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            <a target=“_blank” class="align-center" href="http://www.wittpartners.com/"><img class="logo-width witt-background" src="/img/witt-logo.png" alt=""></a>
          </div>
        </div>
        <ul class="list-group">
          <li class="list-group-item panel-default align-center">Unites reputable investors with top quality project sponsors</li>
          <li class="list-group-item panel-default align-center">Brings more than 130 years of combined experience</li>
          <li class="list-group-item panel-default align-center">Has provided trusted advisors to governments and infrastructure technologies for more than 40 years</li>
        </ul>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            <a target=“_blank” class="align-center" href="http://www.550securitysolutionsllc.com/"><img class="logo-width" src="/img/550security-logo.png" alt=""></a>
          </div>
        </div>
        <ul class="list-group">
          <li class="list-group-item panel-default align-center">Comprehensive Risk & Security Vulnerability Assessments</li>
          <li class="list-group-item panel-default align-center">Security Planning, Preparedness, Consultation</li>
          <li class="list-group-item panel-default align-center">Quality Assurance & Control</li>
          <li class="list-group-item panel-default align-center">Weapons Detection Training Program Consultation</li>
          <li class="list-group-item panel-default align-center">Liaison for Government Security Vendors</li>
          <li class="list-group-item panel-default align-center">Property Purchase & Pre-Lease Assessments</li>
          <li class="list-group-item panel-default align-center">Training Programs</li>
          <li class="list-group-item panel-default align-center">Penetration Testing</li>
        </ul>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            <a target=“_blank” class="align-center" href="http://www.prime-caps.com/"><img class="logo-width" src="/img/primecaps-logo.png" alt=""></a>
          </div>
        </div>
        <ul class="list-group">
          <li class="list-group-item panel-default align-center">PRIME units (Priority Response Integrating Modular Equipment) are specifically designed to maximize the structural space of the container with the required plumbing, wiring, and electronics</li>
          <li class="list-group-item panel-default align-center">With the opening of the PRIME unit doors, the common area has immediate value</li>
          <li class="list-group-item panel-default align-center">It allows movement into and out of the smart space</li>
          <li class="list-group-item panel-default align-center">It maximizes the cost effectiveness of investing little in the space that is needed for movement and volume</li>
        </ul>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            <h3 class="align-center">Emergency Food Solutions, Inc.</h3>
          </div>
        </div>
        <ul class="list-group">
          <li class="list-group-item panel-default align-center">A Variety of nutritious, flavorful Meals Ready-to-Eat for nearly any dietary requirement</li>
          <li class="list-group-item panel-default align-center">Freeze Dried Rations with a 7-25 year shelf life, depending on the product</li>
        </ul>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            <h3 class="align-center">Tennessee Network Technologies, Inc.</h3>
          </div>
        </div>
        <ul class="list-group">
          <li class="list-group-item panel-default align-center">Network infrastructure and special equipment installations</li>
          <li class="list-group-item panel-default align-center">Certified technicians in every State of the Union who are able to install and maintain air and surface purification equipment, voice, data, audio, and video networks for commercial, industrial, retail and military business on a local and national basis</li>
          <li class="list-group-item panel-default align-center">The exclusive installer of Nanovo Solutions’ equipment</li>
        </ul>
      </div>
    </div>
  </div>
</div>

{{outlet}}
