<div class="section">
  <div class="container">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h2 class="align-center">Contact Us</h2>
        <h4 class="align-center">We would love to hear from you!</h4>
      </div>
      <ul class="list-group">
        <li class="list-group-item align-center panel-danger">Address: 123 Flamingo St. Nashville, TN 12345</li>
        <li class="list-group-item align-center panel-danger">Phone: 615-431-2305</li>
        <li class="list-group-item align-center panel-danger">Email: info@blackdogsurplus.net</li>
      </ul>
    </div>
  </div>
</div>
{{outlet}}
